body{
    margin:0px;
}


.header-top{
    background-color: #ffffff;
    width: 100%;
    float: left;
    padding: 14px 0px;
    border-bottom: 2px solid red;
}

.logo{
    width: 20%;
    float: left;
}

.logo img {
    margin-left: 24px;
}


.menu{
    width: 80%;
    float: left;
    margin-top: 12px;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding-right: 24px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 26px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
}

01306147729


  
  
  